<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>OwnListAppGroup</key><string>$(DEVELOPMENT_TEAM).com.gaoluchuan.ownlist</string>
<key>CFBundleName</key><string>Zilo</string><key>CFBundleDisplayName</key><string>Zilo</string><key>CFBundleIdentifier</key><string>com.gaoluchuan.ownlist</string><key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleShortVersionString</key><string>1.0</string><key>CFBundleVersion</key><string>5</string><key>LSMinimumSystemVersion</key><string>14.0</string><key>CFBundleIconFile</key><string>AppIcon-zhixing</string><key>NSHighResolutionCapable</key><true/>
<key>NSCalendarsFullAccessUsageDescription</key><string>显示系统日历，并把您选择的任务加入日历。</string><key>NSRemindersFullAccessUsageDescription</key><string>导入您选择的 Apple 提醒事项。</string>
<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>com.gaoluchuan.ownlist</string><key>CFBundleURLSchemes</key><array><string>ownlist</string></array></dict></array>
</dict></plist>
